<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexora.monitor.mapper.ManagedServerMapper">
    <update id="updateTrustedFingerprint">
        UPDATE monitor_server
        SET trusted_fingerprint = #{fingerprint},
            fingerprint_algorithm = #{algorithm},
            fingerprint_verified_time = #{verifiedTime},
            last_error = ''
        ${ew.customSqlSegment}
    </update>

    <update id="clearTrustedFingerprint">
        UPDATE monitor_server
        SET trusted_fingerprint = NULL,
            fingerprint_algorithm = NULL,
            fingerprint_verified_time = NULL,
            last_connect_time = NULL,
            last_error = ''
        ${ew.customSqlSegment}
    </update>

    <update id="clearSavedPassword">
        UPDATE monitor_server
        SET password_ciphertext = NULL
        ${ew.customSqlSegment}
    </update>

    <update id="updateConnectionState">
        UPDATE monitor_server
        SET last_connect_time = #{connectTime},
            last_error = #{error}
        ${ew.customSqlSegment}
    </update>
</mapper>
